
.button {
  display: flex;
  align-self: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #254441;
  color: #F3EFC5;
  border-radius: 50px;
  font-size: 20px;
  border: 2px solid #8FBBAE;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  border: 2px solid #F3EFC5;}
